<a href="https://colab.research.google.com/github/lnrdmnc/Model-prediction-for-terrorist-attacks-IA/blob/main/Model_prediction_for_terrorist_attacks_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ottenimento del Dataset**

Dopo aver scaricato il dataset dal  [Global Terrorism Database](https://www.kaggle.com/datasets/START-UMD/gtd) e aver eliminato le informazioni inerenti agli attacchi terroristici raccolte dal 1970 fino al 2015 e le informazioni post 2015. 
Il dataset è pronto.

In [18]:
import pandas as pd
import os
import matplotlib.pyplot as plt
from six.moves import urllib
import seaborn as sb
from matplotlib import style
from google.colab import files
import io
gtd=pd.read_csv('globalterrorism2015.csv',encoding="ISO-8859-1")
gtd.head(3)

,Year,Month,Day,Country,Region,city,latitude,longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,Motive
0,2015,1,3,Iraq,Middle East & North Africa,Baghdad,33.303566,44.371773,Bombing/Explosion,2.0,5.0,Minibus,01/03/2015: An explosive device planted on a m...,Unknown,Private Citizens & Property,Explosives,NaN
1,2015,1,1,Bosnia-Herzegovina,Eastern Europe,Trnovi,45.183961,15.828342,Armed Assault,0.0,1.0,Imam: Selvedin Beganovic,01/01/2015: Assailants stabbed Selvedin Begano...,Muslim extremists,Religious Figures/Institutions,Melee,"The specific motive is unknown; however, sourc..."
2,2015,1,1,Iraq,Middle East & North Africa,Baghdad,33.303566,44.371773,Bombing/Explosion,1.0,1.0,Lecturer,01/01/2015: An explosive device planted in a v...,Unknown,Educational Institution,Explosives,NaN

**Ottenimento del Dataset World Happiness Report**

Dopo un accurata scelta ho preferito scegliere tra l'anno 2015,2016,2017.
E' stato scelto l'anno 2015 in base all'attacco terroristico che ci fù al concerto di Ariana Grande a Manchester.
Il dataset è il [seguente](https://www.kaggle.com/datasets/unsdsn/world-happiness?resource=download)

In [21]:
from numpy.core.multiarray import where
import pandas as pd
import os
import matplotlib.pyplot as plt
from six.moves import urllib
import seaborn as sb
from matplotlib import style
from google.colab import files
import io
whp=pd.read_csv('2015.csv')
whp.head(3)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204

**Merge dei due Dataset**

Dopo aver reperito i due dataset siamo giunti al momento in cui dobbiamo unire i due dataset per creare un unico Dataset che contenga sia i dati sugli attacchi terroristici e sia i report sulla felicità nell'anno 2015.

In [25]:
merge=pd.merge(left=gtd, right=whp, how='inner', on="Country")
print(merge)
merge.to_csv("terrorism2015WHR.csv",index=False)

       Year  Month  Day    Country                    Region_x          city  \
0      2015      1    3       Iraq  Middle East & North Africa       Baghdad
1      2015      1    1       Iraq  Middle East & North Africa       Baghdad
2      2015      1    1       Iraq  Middle East & North Africa       Baghdad
3      2015      1    1       Iraq  Middle East & North Africa       Baghdad
4      2015      1    1       Iraq  Middle East & North Africa       Baghdad
...     ...    ...  ...        ...                         ...           ...
14091  2015     11   23  Argentina               South America  Buenos Aires
14092  2015     12   21   Djibouti          Sub-Saharan Africa      Djibouti
14093  2015     12   23      Spain              Western Europe        Madrid
14094  2015     12   28       Laos              Southeast Asia       Unknown
14095  2015     12   30       Laos              Southeast Asia     Namphanoy

        latitude   longitude                      AttackType  Killed  ...  \
0      33.303566   44.371773               Bombing/Explosion     2.0  ...
1      33.303566   44.371773               Bombing/Explosion     1.0  ...
2      33.303566   44.371773               Bombing/Explosion     3.0  ...
3      33.303566   44.371773               Bombing/Explosion     1.0  ...
4      33.303566   44.371773               Bombing/Explosion     1.0  ...
...          ...         ...                             ...     ...  ...
14091 -34.617680  -58.444435               Bombing/Explosion     0.0  ...
14092  11.588561   43.145091                   Armed Assault     NaN  ...
14093  40.465595   -3.696263  Facility/Infrastructure Attack     0.0  ...
14094  18.811618  103.089592               Bombing/Explosion     0.0  ...
14095  18.905700  103.092000               Bombing/Explosion     0.0  ...

       Happiness Rank Happiness Score Standard Error Economy (GDP per Capita)  \
0                 112           4.677        0.05232                  0.98549
1                 112           4.677        0.05232                  0.98549
2                 112           4.677        0.05232                  0.98549
3                 112           4.677        0.05232                  0.98549
4                 112           4.677        0.05232                  0.98549
...               ...             ...            ...                      ...
14091              30           6.574        0.04612                  1.05351
14092             126           4.369        0.08096                  0.44025
14093              36           6.329        0.03468                  1.23011
14094              99           4.876        0.06698                  0.59066
14095              99           4.876        0.06698                  0.59066

        Family Health (Life Expectancy)  Freedom  \
0      0.81889                  0.60237  0.00000
1      0.81889                  0.60237  0.00000
2      0.81889                  0.60237  0.00000
3      0.81889                  0.60237  0.00000
4      0.81889                  0.60237  0.00000
...        ...                      ...      ...
14091  1.24823                  0.78723  0.44974
14092  0.59207                  0.36291  0.46074
14093  1.31379                  0.95562  0.45951
14094  0.73803                  0.54909  0.59591
14095  0.73803                  0.54909  0.59591

      Trust (Government Corruption)  Generosity  Dystopia Residual
0                           0.13788     0.17922            1.95335
1                           0.13788     0.17922            1.95335
2                           0.13788     0.17922            1.95335
3                           0.13788     0.17922            1.95335
4                           0.13788     0.17922            1.95335
...                             ...         ...                ...
14091                       0.08484     0.11451            2.83600
14092                       0.28105     0.18093            2.05125
14093                       0.06398     0.18227            2.12367
14094                       0.24249     0.42192            1.73799
14095                       0.24249     0.42192            1.73799

[14096 rows x 28 columns]

AttributeError: ignored